@import "bootstrap-sprockets";
@import "bootstrap";

.padding-12px {
	padding: 12px;
}

.flex-div {
	display: flex !important;
	justify-content: space-between;
}

.u-full-width {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.margin-right-16px {
	margin-right: 16px;
}